# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build
Debug
.vs
*.json
/07_ray_tracer_cpp/lib/googletest
/07_ray_tracer_cpp/test/*.bak
/08_data_transfer/lib/googletest
/09_MoveData/lib/googletest
